pandas
numpy
google-cloud-bigquery
google-cloud-bigquery-storage
apache-beam[gcp] 
google-cloud-storage
pandas-gbq
datetime
pytz
google_play_scraper
app_store_scraper
findspark
pyspark
pyarrow
fastparquet
requests
beautifulsoup4
tqdm
nltk
langdetect
gensim
pygsheets
