# pandas
# numpy
# google-cloud-bigquery
# google-cloud-bigquery-storage
# apache-beam[gcp] 
# google-cloud-storage
# pandas-gbq
# datetime
# pytz
# google_play_scraper
# app_store_scraper
# findspark
# pyspark
# pyarrow
# fastparquet
# requests
# beautifulsoup4
# tqdm
# nltk
# langdetect
# gensim
# pygsheets
pandas==2.0.3
numpy==1.24.4
nltk==3.8.1
transformers==4.33.0
torch==2.0.1